@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 12px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
}

.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
